* {
   padding: 0;
   margin: 0;
}

body {
   font-family: "Circular Std Bold",Helvetica,Arial,sans-serif;
   background: #222;
   font-weight: 300;
}

.container {
   width: 100%;
   margin: 0 auto;
}

header {
   background: #F4696F;
   padding: 10px 0 20px;
}

header::after {
   content: '';
   display: table;
   clear: both;
}

.logo {
   float: left;
   margin-left: 180px;
   margin-right: 60px;
}

input {
   outline: none;
   height: 40px;
   width: 380px;
   border: 2px solid #FFF;
   border-radius: 50px;
   margin-right: 40px;
   background-color: rgba(250, 184, 187, 0.1);
   font-weight: 400;
   font-size: 14px;
   padding-left: 30px;
   color: #FFF;
}

::placeholder {
   color: #FFF;
   font-weight: 400;
}

nav {
   padding-top: 15px;
}

nav button {
   height: 42px;
   margin-left: 10px;
   border: none;
   border-radius: 50px;
   outline: none;
   cursor: pointer;.
}

.button-1 {
   color: #FFF;
   background: none;
   font-weight: 900;
   margin: 0 20px;
}

.button-2 {
   width: 170px;
   color: #F4696F;
   background: #FFF;
   font-weight: 900;
}