* {
   padding: 0;
   margin: 0;
}

html, body, .capa{
  height:100%;
  overflow: auto;
}

body {
   
   background-attachment: fixed; 
   font-family: "Circular Std Bold",Helvetica,Arial,sans-serif !important;
   overflow-x: hidden;
   background-color: #000;
}


.img-logo {
   width: 200px;
   height: 65px;
   display: block;
   background: url('../img/LOGO2.png') no-repeat;
   color: transparent;
   margin: 10px 0 20px 160px;
}

.nav-navbar {
   background-color: #F4696F;
   background-image: linear-gradient (90deg, rgba(244, 105, 111, .1), rgba(243, 89, 97, .4));
   overflow: hidden;
}

.navbar-brand {
   text-decoration: none;
   float: left;
}

input {
   height: 32px;
   width: 350px;
   border: 1.5px solid #fab7bb;
   border-radius: 50px;
   background: rgba(247, 136, 141, 0.100);
   outline: none;
   font-weight: 600;
   font-size: 14px;
   padding-left: 25px;
   padding-top: 3px;
   padding-bottom: 3px;
   float: left;
   margin-bottom: 20px;
   margin-top: 32px;
   margin-left: 40px;
   margin-right: 60px;
   color: #FFF;
}

input::placeholder {
   color: #fff;
}

.donate a {
   text-decoration: none;
   color: #FFF;
   font-weight: 550;
   font-size: 16px;
   margin-top: 42px;
   margin-right: 25px;
   float: left;
}

.donate button {
   background-color: #fff;
   outline: none;
   cursor: pointer;
   border: none;
   border-radius: 50px;
   font-weight: 700;
   color: #F4696F;
   font-size: 16px;
   padding: 12px 35px;
   margin-top: 32px;
   float: left;

} 